
$corDehover:red;
$corTextoPrincipal: rgb(241, 235, 235);
$corTextoSecundario: #020202;
$corDeFundoBotao: #007bff;
$corDeFundosecundario:#c0a9a9;
$corDeFundoBotaoative: #333;
$corDeFundoPrincipal:rgba(0, 0, 0, 0.7);
$corFundoBlack:black;
$corFundoWhite:white;